---
import Layout from '../layouts/Layout.astro';

const identity = {
  firstName: 'Shun',
  country: 'USA',
  occupation: 'Project Manager',
  hobbies: ['k-pop Girls group', 'digital illustration', 'running'],
};

const skills = ['html', 'css', 'javascript', 'react', 'astro', 'next.js'];

const happy = true;
const finished = true;
const goal = 3;

const skillColor = 'orange';
const fontWeight = 'bold';
const textCase = 'uppercase';
---

<Layout title="About">
  <main>
    <h1>about page</h1>
    <h2>this is heading two</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis dolor
      perspiciatis harum rerum. Sed omnis eaque repudiandae ab dignissimos. Eius
      excepturi ad, id magnam nihil consequatur debitis. Ipsam, sit quo.<br />
      Praesentium vero obcaecati, tempore nulla molestiae fugiat totam hic expedita
      voluptatum. Earum sapiente quis voluptates? Neque, totam hic rerum alias corporis
      voluptatum error ipsum aut quaerat repudiandae expedita impedit delectus.<br
      />
      Fugit ea ipsum, rem architecto ullam repellendus? Et nobis quis id eum? Tempora,
      commodi sed explicabo fugiat dolore in ipsum mollitia. Laborum aut eaque, veniam
      recusandae quod neque deserunt ratione.
    </p>

    <div>
      <p>here are a few facts about me:)</p>
      <ul>
        <li>my name is {identity.firstName}</li>
        <li>
          I live in {identity.country} and I work as a {identity.occupation}.
        </li>
        {
          identity.hobbies.length >= 2 && (
            <li>
              two of my hobbies are: {identity.hobbies[0]} and{' '}
              {identity.hobbies[1]}
            </li>
          )
        }
      </ul>
      <p>my skills are:</p>
      <ul>
        {skills.map((skill) => <li class="skill">{skill}</li>)}
      </ul>
    </div>
    <div>
      {happy && <p>I am happy to be learning Astro!</p>}
      {finished && <p>I finished this tutorial!</p>}
      {
        goal === 3 ? (
          <p>My goal is to finish in 3 days.</p>
        ) : (
          <p>My goal is not 3 days.</p>
        )
      }
    </div>
  </main>
</Layout>
<style define:vars={{ skillColor, fontWeight, textCase }}>
  h1 {
    color: purple;
    font-size: 4rem;
  }
  .skill {
    color: var(--skillColor);
    font-weight: var(--fontWeight);
    text-transform: var(--textCase);
  }
</style>
